:root{
    --border-color: white;
    --modal-overlay-color: rgba(0, 0, 0, 0.507);
    --modal-body-color: black;
}

.modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: var(--modal-overlay-color);

    z-index: 10;
}

.modal-body {
    text-align: center;
    border: 1px solid var(--border-color);
    background-color: var(--modal-body-color);
    margin-top: 15vh;
    padding: 35px;
    border-radius: 9px;
}

#create-task-modal{
    height: 360px;
    width: 500px;
}

#create-category-modal{
    height: 200px;
    width: 500px;
}

#choose-category-modal{
    width: 500px;
    height: 500px;
    z-index: 12;
}

.category-select{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.category-select input{width: auto;}

#choose-category-tab-modal{
    width: 500px;
    height: 500px;
}


#edit-task-modal{
    width: 500px;
    height: 450px;
}

#warning-modal{
    width: 500px;
    height: 200px;
    z-index: 15;
}

#confirm-modal{
    width: 500px;
    height: 300px;
}