:root{
    --background-color: #044C2B;
    --button-base-color: #044C2B;
    --text-base-color: #C1E3C5;
    --text-secondary-color: #044C2B;
    --placeholder-color: rgb(102, 102, 102);
    --title-color: #DBE69B;
    
    --input-border: #C1E3C5;
    --border: #C1E3C5;

    --task-card-bg: #044C2B;
    --task-created-card-bg: #109e5e;
    --task-finished-card-bg: #066c3e;
    --task-deleted-card-bg: #cf342c;
    
    --task-card-border: #C1E3C5;
    --overdue-task-color: #FFD561;
    --task-button-bg: #E1F792;
    --task-delete-btn-bg: #B5231B;
    --task-edit-btn-bg: #9EECFF;
    --task-finish-btn-bg: #E1F792;
}

.todo-list{
    position: relative;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{color: var(--title-color);}

.todo-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-modal-btn{font-size: 1.8rem;}

#todo-wrapper > div > h3, #todo-wrapper > div > h2,
#todo-wrapper > div > span
{margin-left: 15px;}

/* Task Card */
.task-item-card{
    background-color: var(--task-card-bg);
    padding: 5px 18px 5px 18px;
    border-radius: 20px;
    margin: 10px 5px 10px 5px;
    border: 2px solid var(--task-card-border);
    cursor: pointer;
}

/* Header */
.task-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--text-base-color);
}

.task-item-header h3{color: var(--text-base-color);}

.task-item-card.overdueTask > .task-item-header > *{
    color: var(--overdue-task-color);
}

/* Body */
.task-item-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    color: var(--text-base-color);

    word-break: break-all;
}

.task-item-description{width: 75%;}
.task-item-actions-wrapper{width: 20%;}
.task-item-action{
    background-color: var(--task-button-bg);
    border-radius: 5px;
    border: 0;
    color: var(--text-secondary-color);
    font-weight: bold;
}
.task-delete-btn{background-color: var(--task-delete-btn-bg); color: var(--title-color);}
.task-edit-btn{background-color: var(--task-edit-btn-bg);}
.task-finish-btn{background-color: var(--task-finish-btn-bg);}




.category-tabs {list-style-type: none;}

.category-tabs li button{
    background-color: var(--background-color);
    color: var(--text-base-color);
    border: 0;
    width: 100%;
    height: 100%;
    text-align: start;
    font-size: 1.4rem;
}

input, select{
    border: 1px solid var(--input-border);
    padding: 7px 0 7px 0;
    text-align: center;
    width: 100%;
}

input::placeholder{color: var(--placeholder-color);}

button{
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    padding: 4px 0 4px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--button-base-color);
    border: 1px solid var(--border);
    color: var(--text-base-color);
}

.task-item{
    position: relative;
    border: 0.2px solid black;
}
.task-item input{width: 75%;}
.task-item button{width: 25%; padding: auto; margin: 0; height: 100%;}

.overdueTask > input {color:red;}

.category-title{position: relative;}
.category-title .category-edit, .category-title .category-delete{
    background-color: transparent;
    color: var(--text-base-color);
    cursor: pointer;
    border: 0;
    display: none;
    position: absolute;
    top: 13px;
}
.category-edit{right: 20px;}
.category-delete{right: 2px;}
.category-title:hover .category-edit, .category-title:hover .category-delete{
    display: block;
}
.category-edit:hover, .category-delete:hover{
    color: var(--text-base-color);
}

/* Animations */

/* All tasks animations */
.tasks-enter-active,
.tasks-leave-active {
    transition: 0.5s ease;
}

.tasks-enter-from{
    transform: translateX(0);
}
.tasks-enter-to{
    transform: translateX(20px);
}
.tasks-enter-to > *{
    background-color: var(--task-created-card-bg);
}

.tasks-leave-from {
    transform: translateX(0);
}
.tasks-leave-to {
    transform: translateX(20px);
}
.tasks-leave-to > * {
    background-color: var(--task-finished-card-bg);
}

.tasks-leave-active > .modal-overlay {display: none;}

/* All tasks done animations */
.tasks-done-enter-active,
.tasks-done-leave-active {
    transition-delay: 0.5s;
}

.tasks-done-enter-from,
.tasks-done-enter-to,
.tasks-done-leave-from,
.tasks-done-leave-to{
    display: none;
}


/* Deleting a task */
.tasks-leave-to > .deleted-task, .tasks-done-leave-to > .deleted-task {
    background-color: var(--task-deleted-card-bg);
}
.tasks-leave-to > .deleted-task > .task-item-header > h3,
.tasks-done-leave-to > .deleted-task > .task-item-header > h3{
    color: white
}


.tasks-done-leave-active:has(.deleted-task){
    transition: 0.5s ease;
    transition-delay: 0;
}
.tasks-done-leave-from:has(.deleted-task),
.tasks-done-leave-to:has(.deleted-task){
    display: block;
}
.tasks-done-leave-from:has(.deleted-task){
    transform: translateX(0);
}
.tasks-done-leave-to:has(.deleted-task){
    transform: translateX(20px);
}


/* Media Query */

@media only screen and (min-width: 960px) {
    .todo-list-container{align-items: end;}
    .todo-list{width: 73vw;}
    #todo-wrapper{padding: 10px 50px 0 50px;}
}
