:root{
    --background-color: #D6EB8A;
    --button-base-color: white;
    --text-base-color: black;
    --text-secondary-color: #5C5C5C;
    --placeholder-color: rgb(102, 102, 102);
    --title-color: #626B3F;
    
    --task-card-bg: white;
    --overdue-task-color: #EB1F1F;
    --task-button-bg: #E1F792;
    --task-delete-btn-bg: #BFD17B;
}

.todo-list{
    position: relative;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{color: var(--title-color);}

.todo-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-modal-btn{font-size: 1.8rem;}

#todo-wrapper > div > h3, #todo-wrapper > div > h2,
#todo-wrapper > div > span
{margin-left: 15px;}

/* Task Card */
.task-item-card{
    background-color: var(--task-card-bg);
    padding: 5px 18px 5px 18px;
    border-radius: 20px;
    margin: 10px 5px 10px 5px;
}

/* Header */
.task-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--text-secondary-color);
}

.task-item-header h3{color: var(--text-base-color);}

.task-item-card.overdueTask > .task-item-header > *{
    color: var(--overdue-task-color);
}

/* Body */
.task-item-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    color: var(--text-secondary-color);

    word-break: break-all;
}

.task-item-description{width: 75%;}
.task-item-actions-wrapper{width: 20%;}
.task-item-action{
    background-color: var(--task-button-bg);
    border-radius: 5px;
}
.task-delete-btn{background-color: var(--task-delete-btn-bg);}




.category-tabs {list-style-type: none;}

.category-tabs li button{
    background-color: var(--background-color);
    color: var(--text-secondary-color);
    border: 0;
    width: 100%;
    height: 100%;
    text-align: start;
    font-size: 1.4rem;
}

input, select{
    border: 0;
    padding: 7px 0 7px 0;
    text-align: center;
    width: 100%;
}

input::placeholder{color: var(--placeholder-color);}

button{
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    padding: 4px 0 4px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--button-base-color);
    border: 0;
}

.task-item{
    position: relative;
    border: 0.2px solid black;
}
.task-item input{width: 75%;}
.task-item button{width: 25%; padding: auto; margin: 0; height: 100%;}

.overdueTask > input {color:red;}

.category-title{position: relative;}
.category-title .category-edit, .category-title .category-delete{
    background-color: transparent;
    color: var(--text-secondary-color);
    cursor: pointer;
    border: 0;
    display: none;
    position: absolute;
    top: 13px;
}
.category-edit{right: 20px;}
.category-delete{right: 2px;}
.category-title:hover .category-edit, .category-title:hover .category-delete{
    display: block;
}
.category-edit:hover, .category-delete:hover{
    color: var(--text-base-color);
}

@media (min-width:650px) and (max-width:1200px) {
    .todo-list{width: 60vw;}
}

@media (min-width:1200px){
    .todo-list{width: 40vw;}
}